name: Run tests on PR

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1

      - name: Create mock config
        uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "src/config.ts"
          FILE_BASE64: "Y29uc3QgY29uZmlnID0gewogIGdvbGRUaHJlc2hvbGRzOiB7CiAgICBhcm1vaXJlOiA1MDAsCiAgfSwKICBtYW5hVGhyZXNob2xkczogewogICAgZWFydGhxdWFrZTogMTUwLAogIH0sCiAgaGVhZGVyczogewogICAgJ3gtYXBpLXVzZXInOiAndXNlcicsCiAgICAneC1hcGkta2V5JzogJ2tleScsCiAgfSwKfQoKZXhwb3J0IGRlZmF1bHQgY29uZmlnCg=="

      - name: Run tests and linting
        run: |
          npm ci
          npm test
        env:
          CI: true
